%h1 Amzn Generator
%p Using tag: #{settings.tag}
-if settings.bitly_login == "INVALID"
  %p Your bitly login is invalid. You ened to set the environment variable BITLY_LOGIN to a valid login.
-if settings.bitly_api_key == "INVALID"
  %p
    Your bitly API key is invalid. You need to set the environment variable BITLY_API_KEY to a valid key after visiting
    %a{href: "https://bitly.com/a/your_api_key"} bit.ly's API key page

%form{method: "post"}
  %label URL:
  %input{name: "post[url]"}
  %input{type: "submit"}

%p
  For verification, it's wise to check all of your URLs via the
  %a{href: "https://affiliate-program.amazon.com/gp/associates/network/tools/link-checker/main.html"} Amazon Link Checker
  before using them.
%p You can also hit this as an API - try it out:
-bookurl = 'http://www.amazon.com/Microsoft-Flight-Simulator-Pilots-Training-ebook/dp/B00BOZGMXY/'
-txturl = "#{request.url}api?url=#{bookurl}"
-jsonurl = "#{request.url}api.json?url=#{bookurl}"
%p
  Text-only (just gives you the shortened URL):
  %a{href: txturl, style: "font-family:monospace"}=txturl
%p
  JSON (gives a full response object):
  %a{href: jsonurl, style: "font-family:monospace"}=jsonurl
